@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --onity_bg: #F6F4F0;
  --Header-white-mode: #3A3433;
}

.fs-bck-color {
  height: 864px;
  background: var(--onity_bg);
}

.ss-bck-color {
  background: var(--onity_green, #3D503E);
}

.fx-bck-color {
  background: var(--onity_green, #3D503E);
}

.cards-bck-color {
  background: var(--onity_bg, #F6F4F0);
}

.free-bck-color {
  background: var(--onity_orange, #E5730A);
}

.ap-bck-color {
  background: #E5730A;
}

.ft-bck-color {
  background: var(--onity_green, #3D503E);
}

.outer-container {
  max-width: 1240px;
  margin: auto;
}

.image-auto {
  width: 100%;
  height: auto;
}

.header {
  height: 46px;
  margin-bottom: 124px;
}
.header__logo {
  padding-top: 10px;
}
.header__logo__image img {
  width: 164px;
  height: 42px;
}
.header__navs {
  padding-top: 14px;
  color: var(--Header-white-mode, #3A3433);
  font-variant-numeric: ordinal;
  font-family: "Work Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  gap: 60px;
}

.first-section__title {
  height: 206px;
  margin-bottom: 43px;
  color: var(--Header-white-mode);
  font-variant-numeric: ordinal;
  font-family: "Work Sans";
  font-size: 110px;
  font-style: normal;
  font-weight: 600;
  line-height: 90%;
  text-transform: uppercase;
}
.first-section__subtitles {
  display: flex;
  margin-bottom: 45px;
}
.first-section__subtitles__first {
  margin-right: 40px;
  color: var(--Text-white-mode, #635959);
  font-variant-numeric: ordinal;
  font-family: "Work Sans";
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.first-section__subtitles__second {
  color: var(--Text-white-mode, #635959);
  font-variant-numeric: ordinal;
  text-align: left;
  font-family: "Work Sans";
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.first-section__button {
  margin-left: 760px;
  outline: none;
  border: none;
  color: var(--Text-dark-mode, rgba(255, 255, 255, 0.98));
  font-variant-numeric: ordinal;
  font-family: "Work Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  display: inline-flex;
  padding: 16px 26px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
  background: var(--onity_orange, #E5730A);
}

.second-section__questions {
  padding-top: 120px;
  margin-bottom: 40px;
}
.second-section__questions-item {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}
.second-section__questions-item__text {
  width: 600px;
  color: #FFF;
  font-variant-numeric: ordinal;
  font-family: "Work Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 33.6px */
}
.second-section__title {
  width: 1000px;
  color: var(--onity_orange, #E5730A);
  font-variant-numeric: ordinal;
  font-family: "Work Sans";
  font-size: 55px;
  font-style: normal;
  font-weight: 400;
  line-height: 98%;
  margin-bottom: 30px;
}
.second-section__price {
  margin-left: 620px;
  width: 620px;
}
.second-section__price-title {
  margin-bottom: 10px;
  color: var(--Text-dark-mode, rgba(255, 255, 255, 0.98));
  font-variant-numeric: ordinal;
  font-feature-settings: "dlig" on;
  font-family: "Work Sans";
  font-size: 80px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -1.8px;
  text-transform: uppercase;
}
.second-section__price-text {
  color: var(--Text-dark-mode, rgba(255, 255, 255, 0.98));
  font-variant-numeric: ordinal;
  font-family: "Work Sans";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  padding-bottom: 40px;
}

.cards-section {
  height: 920px;
}
.cards-section__button {
  width: 455px;
  height: 60px;
  display: flex;
  padding: 16px 26px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: 400px;
  color: #E5730A;
  font-variant-numeric: ordinal;
  font-family: "Work Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  border-radius: 16px;
  border: 1px solid var(--onity_orange, #E5730A);
  background: #FFF;
}
.cards-section__cards {
  display: flex;
  gap: 20px;
  padding-top: 100px;
  padding-bottom: 60px;
}
.cards-section__cards-item {
  display: flex;
  width: 293px;
  height: 620px;
  padding: 30px 16px;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid var(--onity_black, #3A3433);
}
.cards-section__cards-item__title {
  color: var(--onity_orange, #E5730A);
  font-variant-numeric: ordinal;
  font-family: "Work Sans";
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 98%; /* 31.36px */
}
.cards-section__cards-item__subtitle {
  align-self: stretch;
  display: flex;
  height: 90px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  align-self: stretch;
  color: var(--Text-white-mode, #635959);
  font-variant-numeric: ordinal;
  font-family: "Work Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 26.4px */
}
.cards-section__cards-item__price {
  align-self: stretch;
  color: var(--onity_green, #3D503E);
  font-variant-numeric: ordinal;
  font-family: "Work Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 98%; /* 47.04px */
}
.cards-section__cards-item__price__about {
  align-self: stretch;
  color: #635959;
  font-variant-numeric: ordinal;
  font-family: "Work Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 98%; /* 23.52px */
}
.cards-section__cards-item__info {
  height: 218px;
  flex-shrink: 0;
  align-self: stretch;
  color: var(--Text-white-mode, #635959);
  font-variant-numeric: ordinal;
  font-family: "Work Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 26.4px */
}
.cards-section__cards-item__button {
  color: #E5730A;
  font-variant-numeric: ordinal;
  font-family: "Work Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  display: flex;
  padding: 13px 23px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
  border: 1px solid var(--onity_orange, #E5730A);
  background: #FFF;
}
.cards-section__cards-item__button__active {
  color: #Fff;
  background: var(--onity_orange, #E5730A);
}

.free-section {
  height: 620px;
}
.free-section__title {
  padding-top: 130px;
  color: var(--onity_bg, #F6F4F0);
  font-variant-numeric: ordinal;
  font-family: "Work Sans";
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: 98%; /* 62.72px */
  margin-bottom: 50px;
}
.free-section__pars {
  display: flex;
  gap: 50px;
  margin-bottom: 20px;
}
.free-section__pars-item {
  width: 500px;
  color: var(--Text-dark-mode, rgba(255, 255, 255, 0.98));
  font-variant-numeric: ordinal;
  font-family: "Work Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.free-section__button {
  margin-left: 550px;
  margin-bottom: 100px;
  width: 333px;
  height: 50px;
  display: flex;
  padding: 16px 26px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
  background: var(--Text-dark-mode, rgba(255, 255, 255, 0.98));
  color: var(--onity_green, #3D503E);
  font-variant-numeric: ordinal;
  font-family: "Work Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.flex-section__blocks {
  padding-top: 130px;
  padding-bottom: 130px;
  display: flex;
  gap: 45px;
}
.flex-section__blocks-title {
  color: var(--onity_orange, #E5730A);
  font-variant-numeric: ordinal;
  font-family: "Work Sans";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 98%;
}
.flex-section__blocks-item {
  width: 355px;
}
.flex-section__blocks-item__title {
  margin-bottom: 7px;
  color: var(--onity_bg, #F6F4F0);
  font-variant-numeric: ordinal;
  font-feature-settings: "dlig" on;
  font-family: "Work Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.flex-section__blocks-item__text {
  color: var(--Text-dark-mode, rgba(255, 255, 255, 0.98));
  font-variant-numeric: ordinal;
  font-family: "Work Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.approach-section__title {
  padding-top: 130px;
  margin-bottom: 66px;
  color: var(--onity_bg, #F6F4F0);
  font-variant-numeric: ordinal;
  font-family: "Work Sans";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 98%;
}
.approach-section__pars {
  display: flex;
  gap: 50px;
  padding-bottom: 130px;
}
.approach-section__pars__first-item {
  width: 540px;
}
.approach-section__pars__second-item {
  width: 600px;
}
.approach-section__pars-item {
  color: var(--Text-dark-mode, rgba(255, 255, 255, 0.98));
  font-variant-numeric: ordinal;
  font-family: "Work Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 33.6px */
}

.start-section {
  height: 740px;
}
.start-section__title {
  margin-bottom: 120px;
  padding-top: 230px;
  color: var(--Text-dark-mode, rgba(255, 255, 255, 0.98));
  text-align: center;
  font-variant-numeric: ordinal;
  font-family: "Work Sans";
  font-size: 120px;
  font-style: normal;
  font-weight: 600;
  line-height: 90%;
  text-transform: uppercase;
}
.start-section__button {
  width: 350px;
  height: 60px;
  margin-left: 770px;
  display: flex;
  padding: 16px 26px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
  background: var(--Text-dark-mode, rgba(255, 255, 255, 0.98));
  color: var(--onity_green, #3D503E);
  font-variant-numeric: ordinal;
  font-family: "Work Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

/*# sourceMappingURL=styles.css.map */
